---
layout: base
---
{% assign post = page %}
{% include post.html %}
{% if page.tags %}
<div id="more_reading" class="span-17 last">
  <p class="smallalts tags">
    {% for tag in page.tags %}<span class="alt">{% if forloop.last and forloop.first != true %}{% if forloop.index == 2 %} and{% else %}, and{% endif %}{% elsif forloop.rindex0 and forloop.index > 1 %},{% else %}filed under{% endif %}</span> <a class="tight" href="/tag/{{ tag|escape }}">{{ tag }}</a>{% endfor %}
  </p>
</div>
{% endif %}
<div id="comments_wrapper" class="span-17 last">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'adequatelygood';
      var disqus_identifier = "{% if page.disqus_id %}{{ page.disqus_id }}{% elsif page.legacy_id %}{{ page.legacy_id }}{% else %}{{ page.id }}{% endif %}";
      var disqus_title = "{{ page.title }}";
      var disqus_url = "http://www.adequatelygood.com{{ page.url }}";

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>
    <a href="http://disqus.com/forums/adequatelygood/?url=ref">View the discussion thread.</a>
  </noscript>
</div>
